<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>
<div *ngIf="photos.length > 0" class="container">
  <p class="sticky-like-count">You have liked {{ likedCount }} photos.</p>
  <div class="row">
    <div class="col-md-4" *ngFor="let photo of photos | slice : 0 : 12">
      <div class="card mb-4" style="width: 100%">
        <img
          class="card-img-top"
          [src]="photo.thumbnailUrl"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ photo.title }}</h5>
          <p class="card-text">ID: {{ photo.id }}</p>
          <a [href]="photo.url" class="btn btn-primary" target="_blank"
            >View Full Image</a
          >
          <button class="btn btn-danger" (click)="deletePhoto(photo.id)">
            Delete
          </button>
          <button class="btn btn-secondary" (click)="toggleLike(photo.id)">
            {{ likedPhotos.has(photo.id) ? "Dislike" : "Like" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="photos.length === 0" class="alert alert-info">
  No photos available.
</div>
